.logodiv {
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3.5rem;
  position: relative;
}

.logo {
  background-image: url("/image copy.png");
  background-size: cover;
  z-index: 90;
  height: 3rem;
  width: 3rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2), 0 0 20px #4069ff;
  animation: animateEarth 15s linear infinite;
  position: absolute;
  background-repeat: repeat-x;
  z-index: 10;
}

@keyframes animateEarth {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -400px 0;
  }
}

.circle {
  transform-style: preserve-3d;
  animation: animateText 10s linear infinite;
  position: relative;
}

.circle span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  line-height: 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  transform-origin: center;
  transform-style: preserve-3d;
  padding: 0.3px 2.8px;
  transform: rotateY(calc(var(--i) * calc(360deg / 30))) translateZ(45px);
  border-top: 2px solid #35146f;
  border-bottom: 2px solid #35146f;
}

@keyframes animateText {
  0% {
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg);
  }
  100% {
    transform: perspective(1000px) rotateY(0deg) rotateX(15deg);
  }
}

@media (max-width: 640px) {
  .logo {
    height: 2.5rem;
    width: 2.5rem;
  }

  .circle span {
    line-height: 0.8rem;
    font-size: 0.6rem;
    padding: 0.3px 2px;
    transform: rotateY(calc(var(--i) * calc(360deg / 30))) translateZ(36px);
  }
}
